* {
  font-family:'Times New Roman', Times, serif;
}

body {
  background-color: rgb(226, 236, 255);
  font-size: 18px;
  width: 900px;
  margin: auto;
  margin-top: 20px;
}

main {
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
}

.image1 {
  width: 900px;
  position: static;
}

.hero {
  position: relative;
}

#title {
  background-color: rgba(199, 199, 199, 0.65);
  position: absolute;
  bottom: 30px;
  left: 50px;
  padding: 20px;
  margin: 0px;
}

h1 {
  font-size: 60px;
  margin: 0 0 6px 0;
}

#title-subtext {
  font-size: 20px;
  font-weight: 600;
}

article {
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

.article-figure {
  float: right;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 0px;
}

#image2 {
  width: 300px;
}

span {
  font-size: 12px;
  background-color: #4e8098;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}

footer {
  border-top: 1px solid grey;
}
footer, .footer-text {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
}